{%extends "base.html"%}

{% block head %}
{{super()}}
<script>
$(document).ready(function(){
   $('.ui.rating')
  .rating('setting', 'onRate', function(value) {
      var song_id = this.dataset.song_id;
      const url = "{{url_for('songs.rate_song')}}"
      $.ajax({
     async: false,
     type: 'GET',
     url: url,
     data:{song_id:song_id,rating:value},
     success: function(data) {
          window.location.href = '{{url_for("songs.random_songs")}}';
     }
});
  });
});

function sleep (time) {
  return new Promise((resolve) => setTimeout(resolve, time));
}
function saveNotes(button){
    content = $('#notes')[0].value;
    $.ajax({
    url: '{{url_for("songs.write_notes")}}',
    data: {"song_id": {{song.id}},"notes":content},
    success: function(){
        location.reload(true);
    }
    });
}

function toggle_save_button(notes){
    button=$("#save_notes_button");
    button.prop('disabled', true);
    if(notes!='{{song.notes}}'){
        button.prop('disabled', false);
    }
}







</script>

{% endblock head %}

{% block content %}

<br>
<div class="ui segment">
    <h1>{{song.title}}</h1>
    <title>Play: {{song.title}}</title>
    <h3>{{song.artist}}</h3>
    <div class="ui one column grid">
        <div class="row">
            <div class="column">Play Count: {{song.play_count}}</div>
        </div>
        <div class="row">
            <div class="column">Skill Level: {{'%0.1f'%song.skill_level|float}}</div>
        </div>
        <div class="row">
            <div class="column">
                Notes:
                <div class="ui form">

                    <input
                            type="text" id="notes"
                            onkeyup="toggle_save_button(this.value)"
                            {% if song.notes %}
                            value="{{song.notes}}"
                            {% else %}
                            placeholder="Enter notes here"
                            {% endif %}
                    >
                    <br><br>
                    <button onclick="saveNotes(this)" disabled="true" id="save_notes_button" class="ui small basic positive button">Save Notes</button>

                </div>

            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div>
        Rate performance to increment play count and get new grid: <br>
        <div class="ui star massive rating" data-song_id="{{song.id}}"
             data-rating="{{song.skill_level|round|int}}" data-max-rating="5"></div>
    </div>
    <div class="ui divider"></div>
    <div>
        <a class=" ui button" href={{url_for('songs.random_songs')}}>New Random Grid</a>
        <a class=" ui button" href={{url_for('songs.get_random_song')}}>Load new Random Song</a>
    </div>

</div>
{% endblock %}