{% extends "base.html" %}

{% block content %}
<h1>Song Trainer</h1>
<br>
<div class="ui two cards stackable">
    <a class="ui card" style="text-align:center" href="{{url_for('songs.random_songs')}}">
        <br>
        <br>
        <h1>Choose a Random Song</h1>
        <br>
        <br>
    </a>
    <a class="ui card" style="text-align:center" href="{{url_for('songs.list_songs')}}">
        <br>
        <br>
        <h1>Song List</h1>
        <br>
        <br>
    </a>
    <a class="ui card" style="text-align:center" href="{{url_for('songs.add_song')}}">
        <br>
        <br>
        <h1>Add a Song</h1>
        <br>
        <br>
    </a>
</div>
{% endblock %}