{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/se/dt-1.10.23/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/se/dt-1.10.23/datatables.min.js"></script>

<script>
function toggle(){
console.log($("#foo").css('display'));
if ($("#foo").css('display')=="none") {
    $("#foo").css("display", "");
} else {
    $("#foo").css("display", "none");
}
};

$(document).ready( function () {
    $('#table').DataTable();
} );
</script>

{% endblock head %}
{% block content %}
<button class="ui button" onclick="toggle()">Toggle</button>
<table id="table" class="ui table nonstackable">
    <thead>
    <tr>
        <th>Foo</th>
        <th>Bar</th>
    </tr>
    </thead>
    <tbody>
<tr id="foo">
   <td> This is the Div!</td>
   <td> So is this!</td>
</tr>
<tr>
   <td> This isn't!</td>
   <td> Neither is this!</td>

</tr>
</tbody>
</table>
<div>
    Another Div!
</div>
{% endblock content %}