{% extends "base.html" %}

{% block head %}
{{super()}}
<script>
$(document).ready(function(){
   $('.menu .item').tab();
});







</script>

<script src="{{ url_for('static', filename='node_modules/jsoneditor/dist/jsoneditor.min.js') }}"></script>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='node_modules/jsoneditor/dist/jsoneditor.min.css') }}">

{% endblock head %}
{% block content %}
<div class="ui main container">
    <h1>Songs </h1>
    <div class="ui segments">
        <div class="ui four column doubling stackable grid container">
        <div class="column">
            <p>fooo</p>
            <p></p>
        </div>
        <div class="column">
            <p>baarr</p>
            <p></p>
        </div>
        <div class="column">
            <p>sdlkfjslkdf</p>
            <p></p>
        </div>
        <div class="column">
            <p>sdsdfsd</p>
            <p></p>
        </div>
    </div>

    </div>
</div>


{% endblock content %}